<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}IKBFU Students Statistics{% endblock title %}</title>
    
</head>
<body>
    <div><a href="/">Вход</a> | 
        <a href="/proflvls">Уровни подготовки</a> | 
        <a href="/directions">Направления</a> | 
        <a href="/registrations">Прописка</a> | 
        <a href="/forms">Форма обучения</a> | 
        <a href="/basics">Основа обучения</a> |
        <a href="/foreigns">Иностранцы</a>
    </div>
    <h1>{% block header %}{% endblock header %}</h1>
    <div>{% block content%}{% endblock content %}</div>
    <p><div>IKBFU. 2023. All rights reserved.</div></p>
</body>
</html>