<form action="" method="post">
    <div class="form-check">
        <input type="checkbox" value="Бакалавриат" id="Бакалавриат" name="Уровни">
        <lable for="Бакалавриат">Бакалавриат</lable>
    </div>
    <div class="form-check">
        <input type="checkbox" value="Бакалавриат" id="Бакалавриат" name="Уровни">
        <lable for="Бакалавриат">Магистратура</lable>
    </div>
    <div class="form-check">
        <input type="checkbox" value="Бакалавриат" id="Бакалавриат" name="Уровни">
        <lable for="Бакалавриат">Специалитет</lable>
    </div>
    <div class="form-check">
        <input type="checkbox" value="Бакалавриат" id="Бакалавриат" name="Уровни">
        <lable for="Бакалавриат">Аспирантура</lable>
    </div>
    <div class="form-check">
        <input type="checkbox" value="Бакалавриат" id="Бакалавриат" name="Уровни">
        <lable for="Бакалавриат">Ординатура</lable>
    </div>
    <div class="form-check">
        <input type="checkbox" value="Бакалавриат" id="Бакалавриат" name="Уровни">
        <lable for="Бакалавриат">СПО</lable>
    </div>
</form>


<div style="width: 100%;">
    <div style="float: left; width: 50%;">{{ forms1|safe }}</div>
    <div style="float: left; width: 50%;">{{ forms2|safe }}</div>
    </div>